.navbar-nav {
	text-align:center !important;
}
.main-header {
	margin-top:60px;
}
.card-header h4 {  
	display:inline-block;
	min-height:84px !important;
}
.pricing-card-title {
	min-height:60px;
}
.list-unstyled li {
	text-align:left;
}

.reveal,
.reveal2,
.reveal3 {   
	display:none;
	position:relative;
	top:-400px;
	z-index:2000;
	width:50%;
	margin:0 auto;
	margin-top:-600px;
	background:#fff;
	padding:30px 50px;
	border:1px solid #ccc;
	box-shadow:3px 3px 3px #999;
}

.close {
	float:right;
	font-size:30px;
	cursor:pointer;
}

.form-group {
	text-align:center;
}

.success-msg {
	opacity:0;
	position:absolute;
	left:20%;
	z-index:10;
	color:green;
	border:1px solid green;
	background:#90EE90;
	font-size:16px;
	width:60%;
	margin:20px auto;
	padding:20px 40px;
	box-shadow:3px 3px 3px #ccc;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	bottom: .2em;
}




